.App {
  text-align: center;
  height: 96dvh;
  overflow: hidden;
  background: linear-gradient(180deg, #D7EBD3 0%, rgba(76, 181, 42, 0.20) 100%);
  padding: 1rem 2rem;
  display: grid;
  place-items: center;
}

.table p{
  width: 20%;
}